<div class="col-centered col-md-10">
  <div class="block">



  <!-- <% if current_user.is_admin? %>
    <div class="pull-right">
      <%= link_to("Task Index", course_tasks_path(@course), class: "btn btn-primary btn-sm") %>
    </div>
  <% end %>
 -->
  <div class="row">
    <div class="col-md-6">
      <% if @course.image.present? %>
        <%= image_tag(@course.image.thumb.url) %>
      <% end %>
    </div>
    <div class="col-md-6">
      <h2 class="book"> <%= @course.title %> </h2>
      <p><%= @course.description %></p>
    </div>
  </div>

  <br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Content</th>
        <th>Completed?</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.content %></td>
          <td>
            <% if !task.completed? %>
              <%= link_to("Yes", finish_course_task_path(@course, task), method: :post, class: "btn btn-sm btn-primary") %>
            <% else %>
              <p>Yay!! Congrats!! <%= link_to("Undo", unfinish_course_task_path(@course, task), method: :post, class: "btn btn-sm btn-danger")%></p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  </div>
</div>
