<div class="group">
  <%= f.input :user_id, label: "User ID", class: "form-control" %>
  <p class="help-block">
    1 - Sylvia (admin)<br>
    2 - Dani<br>
    3 - Lisa<br>
    4 - Diana<br>
    5 - Henry<br>
    6 - Roger<br>
    7 - Gerardo<br>
  </p>
</div>

<div class="group">
  <%= f.input :title, class: "form-control" %>
</div>

<div class="group">
  <%= f.input :description %>
</div>

<div class="group">
  <%= f.label :friendly_id %>
  <%= f.text_field :friendly_id, :required => true, class: "form-control" %>
  <p class="help-block">限小写英文数字及横线，将作为网址的一部分</p>
</div>

<div class="group">
  <%= f.input :image, as: :file, class: "form-control" %>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Content</th>
      <th>Completed?</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.content %></td>
        <td><%= render_task_complete(task) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= f.submit "Submit", data: {disable_with: "Submitting"}, class: "btn btn-primary" %>
